* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Jost", sans-serif;
  font-size: 18px;
}

h1,
h2 {
  font-size: 26px;
  font-weight: 500;
}

h3 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 8px;
}

a {
  text-decoration: none;
  color: #000000;
}

nav a {
  font-weight: 500;
}

.header-logo {
  width: 60px;
}

.main-menu {
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  margin-top: 4px;
  margin-bottom: 20px;
  border-bottom: 2px solid #eeeeee;
}

.menu-left-side {
  display: flex;
}

.cta {
  color: #0000ff;
}

.current-page {
  color: #ff764d;
}

.menu-list {
  display: flex;
  gap: 32px;
}

ul {
  list-style: none;
}

footer ul {
  padding-left: 0;
}

.hero {
  position: relative;
  margin-bottom: 96px;
}

.hero-image {
  width: 85%;
  margin: 0 auto;
  display: block;
}

.hero-logo {
  position: absolute;
  /* Moving the top-right corner */
  top: 50%;
  left: 50%;
  /* Offset by half of its own size to center */
  transform: translate(-50%, -50%);
}

.text-section {
  margin: 0 360px 96px 360px;
}

.image-section {
  position: relative;
  width: 100%;
  height: 800px;
  margin-bottom: 96px;
}

.yellow-panel {
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;
  height: 100%;
  background-color: #fbffa8;
}

.image-wrapper {
  position: relative;
  margin: 0 auto;
  width: 85%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.image-left img {
  width: 600px;
}

.image-right img {
  width: 550px;
}

.video-section {
  margin: 0 auto 96px auto;
  width: 90%;
  max-width: 800px;
}

.video-player {
  position: relative;
}

.video-player-image {
  width: 100%;
  display: block;
}

.video-player-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
}

figcaption {
  margin-top: 8px;
  font-size: 16px;
}

.video-section-big {
  margin: 0 auto 96px auto;
  width: 85%;
}

.green-panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 60%;
  height: 100%;
  background-color: #b6ffc0;
}

.image-left-double img {
  width: 540px;
}

.image-left-double {
  display: flex;
  flex-direction: column;
  gap: 96px;
}

.image-right-double img {
  width: 650px;
}

.variant-1 {
  height: 1100px;
}

.purple-panel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 100%;
  background-color: #d5b3ff;
}

.image-wrapper-purple {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.image-left-purple img {
  width: 500px;
  margin-left: 30%;
}

.latest-jobs {
  margin: 0 auto 96px;
  width: 85%;
  height: 600px;
  display: flex;
}

.latest-jobs-image,
.text-wrapper {
  flex: 1;
}

.latest-jobs-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.text-wrapper {
  background-color: #b1c5ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-inner {
  padding: 120px;
}

.text-inner a {
  color: #0000ff;
  font-weight: 600;
}

main {
  border-bottom: 2px solid #eeeeee;
  margin-bottom: 96px;
}

footer {
  margin: 0 auto;
  width: 85%;
  margin-bottom: 96px;
}

.logo-footer {
  width: 200px;
  margin-bottom: 64px;
}

.language-row {
  display: flex;
  gap: 4px;
}

.email {
  width: 420px;
}

.language-select {
  width: 120px;
}

.country-select {
  width: 200px;
}

.main-footer-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 64px 32px;
  margin-bottom: 64px;
}

.secondary-footer-wrapper {
  display: flex;
  justify-content: space-between;
}

.secondary-footer-wrapper-left {
  display: flex;
  gap: 16px;
  font-size: 14px;
}

.secondary-footer-wrapper-right {
  display: flex;
  font-size: 14px;
  gap: 16px;
}

.newsletter-row {
  display: flex;
  flex: 1;
}

.button {
  background-color: #0000ff;
  color: #ffffff;
  padding: 8px 16px;
  border: none;
  margin: 0;
  border-radius: 0;
}

.input-field {
  padding: 8px 16px;
  background: #eeeeee;
  border: none;
  border-radius: 0;
}
